<div class="sidebar-wrapper">
    <div class="logo">
        <a ui-sref="dashboard" class="simple-text">
            供应链管理平台
        </a>
    </div>
    <ul class="nav">
        <li>
            <a ui-sref="dashboard.products" >
                <i class="pe-7s-keypad"></i>
                <p>商品维护</p>
            </a>
        </li>
        <li>
            <a ui-sref="dashboard.orders">
                <i class="pe-7s-shopbag"></i>
                <p>我的订单</p>
            </a>
        </li>
        <li>
            <a ui-sref="javascript:;">
                <i class="pe-7s-anchor"></i>
                <p>物流管理</p>
            </a>
        </li>
        <li>
            <a ui-sref="javascript:;">
                <i class="pe-7s-airplay"></i>
                <p>安全退出</p>
            </a>
        </li>
    </ul>
</div>