<div class="explore-wrap">
        <div ng-include="'../partials/header.html?1'" ></div>
        <div class="explore-content">
            <div ng-include="'../partials/filter.html?1'"></div>
            <div class="explore-list-wrap container-fluid">
                <div class="row-fluid">
                    <div class="panel panel-default panel-profile col-md-3">
                        <div class="pannel-wrap">
                            <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-2.jpg?11994684489640104719);"></div>
                            <div class="panel-body text-center">
                                <h5>香菇(特级)</h5>
                                <p class="m-b">花骨朵形，农家树种.</p>
                                <a href="javascript:;" class="btn btn-primary-outline btn-sm m-b">
                                    <span class="icon icon-add-user"></span> 加入购物车
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-profile col-md-3">
                        <div class="pannel-wrap">
                            <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-2.jpg?11994684489640104719);"></div>
                            <div class="panel-body text-center">
                                <h5>野山鸡</h5>
                                <p class="m-b">.</p>
                                <a href="javascript:;" class="btn btn-primary-outline btn-sm m-b">
                                    <span class="icon icon-add-user"></span> 加入购物车
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-profile col-md-3">
                        <div class="pannel-wrap">
                            <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-2.jpg?11994684489640104719);"></div>
                            <div class="panel-body text-center">
                                <h5>山药</h5>
                                <p class="m-b">.</p>
                                <a href="javascript:;" class="btn btn-primary-outline btn-sm m-b">
                                    <span class="icon icon-add-user"></span> 加入购物车
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-profile col-md-3">
                        <div class="pannel-wrap">
                            <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-2.jpg?11994684489640104719);"></div>
                            <div class="panel-body text-center">
                                <h5>干辣椒</h5>
                                <p class="m-b">.</p>
                                <a href="javascript:;" class="btn btn-primary-outline btn-sm m-b">
                                    <span class="icon icon-add-user"></span> 加入购物车
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-profile col-md-3">
                        <div class="pannel-wrap">
                            <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-2.jpg?11994684489640104719);"></div>
                            <div class="panel-body text-center">
                                <h5>红椒</h5>
                                <p class="m-b">.</p>
                                <a href="javascript:;" class="btn btn-primary-outline btn-sm m-b">
                                    <span class="icon icon-add-user"></span> 加入购物车
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>