<!-- 商品维护 -->
<div class="content table-responsive table-full-width">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="header">
                        <h4 class="title">商品维护</h4>
                        <ul class="product-filters">
                            <li><a href="javascript:;" class="filter-selected">所有</a></li>
                            <li><a href="javascript:;">上架中</a></li>
                            <li><a href="javascript:;">已下架</a></li>
                            <li><a href="javascript:;" ng-click="showModal()">新增商品</a></li>
                        </ul>
                    </div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>商品名称</th>
                                <th>单位</th>
                                <th>价格</th>
                                <th>展示图</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#8867</td>
                                <td>上集茶叶</td>
                                <td>罐</td>
                                <td>￥68</td>
                                <td>无</td>
                                <td>
                                    <a href="javascript:;">上架</a>
                                    <a href="javascript:;">下架</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div>
</div>